
/* body/page constants */
body { font-size:.8em; margin:0;  /*overflow-x: hidden;*/ font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; }
/*.content { overflow: hidden; }*/

.greenline {
    height: 2px;
    margin-top: 1px;
	background-color: white;
}
img{
	display:inline;
	padding: 10px 10px 10px 10px;	
}
.first-card{
	padding-left: 138px;
}
.player-cards {	
	border-style: solid; border-width: 1px;  border-color: white;
}

.board{
	border-style: solid; border-width: 1px;  border-color: white;
	
}
.board-wrapper{padding: 10px 101px 100px 0px;}
.wrapper{
		
		padding: 1px 252px 100px 138px;
}

.watermark img{
	filter:alpha(opacity=90);
	opacity:.90;
}
@font-face {
	font-family: 'AvenirMedium';
	src: url('../fonts/AvenirMedium.eot');
	src: local('?'), url('../fonts/AvenirMedium.woff') format('woff'), url('../fonts/AvenirMedium.ttf') format('truetype'), url('../fonts/AvenirMedium.svg#webfont3jNwtMLc') format('svg');
	font-weight: normal;
	font-style: normal; }
.
.center{text-align: center;}
.right{float:right;}

.white-text{color:white;}

.bg-color9,.bg-color9 a{background-color:#01471C} /* footer links part of footer */




 
